<article class="flex text-center lg:items-center lg:justify-center gap-4">
    <div class="p-4">
        <div
            class="[&>h2>strong]:text-yellow-500 [&>h2>strong]:font-semibold pb-3"
        >
            <h2 class="text-4xl md:text-5xl">Hola, soy <strong>Tomas Gomez</strong></h2>
        </div>
        <div
            class="md:text-3xl [&>h2>strong]:text-yellow-500 [&>h2>strong]:font-semibold flex flex-col"
        >
            <h2 class="opacity-30">Desarrollador Front-End</h2>
            <h2>
                Estudiante de desarrollo fullstack en <strong
                    >Coder House</strong
                >
            </h2>
            <h2 class="opacity-35">
                La belleza reside en la simplicidad de lo mismo.
            </h2>
        </div>
    </div>
    <picture class="hidden lg:block">
        <img src="/enderman.png" alt="" class="h-[300px]" />
    </picture>

</article>