---

---

<nav class="fixed top-0 mt-3 z-50 p-2 rounded-full">
    <ul
        class="flex justify-center items-center gap-4 my-2 px-4 py-2 rounded-3xl"
        id="nav"
    >
        <li>
            <a href="#" class="hover:text-yellow-500 transition-all duration-200">Proyectos</a>
        </li>
        <li>
            <a href="#" class="hover:text-yellow-500 transition-all duration-200">Herramientas</a>
        </li>
        <li>
            <a href="#" class="hover:text-yellow-500 transition-all duration-200">Sobre mi</a>
        </li>
    </ul>
</nav>

<script>
    window.addEventListener("scroll", function () {
        let nav = document.getElementById("nav");
        if (window.scrollY > 150) {
            nav.classList.add(
                "bg-gray-500",
                "bg-opacity-75",
                "backdrop-blur-lg",
            );
        } else {
            nav.classList.remove(
                "bg-gray-500",
                "bg-opacity-75",
                "backdrop-blur-lg",
            );
        }
    });
</script>
