---
import Logoastro from "./subcomponents/icons/Logoastro.astro";
import Logocss from "./subcomponents/icons/Logocss.astro";
import Logogit from "./subcomponents/icons/Logogit.astro";
import Logogithub from "./subcomponents/icons/Logogithub.astro";
import Logohtml from "./subcomponents/icons/Logohtml.astro";
import Logojavascript from "./subcomponents/icons/Logojavascript.astro";
import Logonpm from "./subcomponents/icons/Logonpm.astro";
import Logoreact from "./subcomponents/icons/Logoreact.astro";
import Logosass from "./subcomponents/icons/Logosass.astro";
import Logotailwind from "./subcomponents/icons/logotailwind.astro";
import Skillarticulo from "./subcomponents/skillarticulo.astro";
import School from "./Iconos/school.astro";
---
<div class="flex items-center justify-center gap-3 pt-24" id="skills">
    <School class="size-9" />
    <h2 class="text-4xl font-extrabold">Skills</h2>
</div>
<section class="p-12">
    <div class="flex items-center justify-center flex-wrap max-w-[800px] mx-auto m-8 gap-8">
        <Skillarticulo name="Html">
            <Logohtml />
        </Skillarticulo>
        <Skillarticulo name="Css">
            <Logocss />
        </Skillarticulo>
        <Skillarticulo name="JavaScript">
            <Logojavascript />
        </Skillarticulo>
        <Skillarticulo name="Astro">
            <Logoastro />
        </Skillarticulo>
        <Skillarticulo name="Git">
            <Logogit />
        </Skillarticulo>
        <Skillarticulo name="GitHub">
            <Logogithub />
        </Skillarticulo>
        <Skillarticulo name="npm">
            <Logonpm />
        </Skillarticulo>
        <Skillarticulo name="React">
            <Logoreact />
        </Skillarticulo>
        <Skillarticulo name="Sass">
            <Logosass />
        </Skillarticulo>
        <Skillarticulo name="Tailwind">
            <Logotailwind />
        </Skillarticulo>
    </div>
</section>