---

---

<footer class="m-4 p-4 flex justify-around w-3/4">
    <div>
        <p class="text-gray-400"
        >© 2024 Tomas Gomez. Casi todos los derechos reservados</p>
    </div>
    <div class="z-20">
        <a href="#">lorem</a>
        <a href="#">lorem</a>
    </div>
</footer>
