---
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/comfortaa";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/public/svg/user-code.svg" />
		<title>{title}</title>
	</head>
	<body class="relative h-full w-full bg-neutral-950">
		<div
			class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)] z-[-1]"
		>
		</div>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: "Comfortaa Variable", system-ui;
		color: white;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
	}
</style>
