---
import Buttons from "../components/Buttons.astro";
import Coding from "../components/Iconos/coding.astro";
import Proyect from "../components/Proyect.astro";
import Sobremi from "../components/Sobremi.astro";
import Greetings from "../components/Greetings.astro";
import BentoSkills from "../components/BentoSkills.astro";
---

<header class="max-w-[1440px]">
    <section
        class="flex items-center flex-col justify-center h-screen gap-12"
    >
        <Greetings />
        <Buttons client:load />
    </section>
</header>
<main class="max-w-[1440px]">
    <section class="flex items-center flex-col justify-center mt-12">
        <h2 class="text-5xl flex items-center gap-4 p-4">
            <Coding class="size-10" />
            Proyectos
        </h2>
        <Proyect />
    </section>
    <BentoSkills />
    <section class="flex items-center justify-center gap-4 m-12">
        <Sobremi />
    </section>
</main>